.test {
  border: 1px solid black;
  -webkit-transform: translate3d(1, 2, 3);
          transform: translate3d(1, 2, 3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
